body {
    background-color: rgb(226, 255, 255);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: teal;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-align: center;
    color: darkslategray
}

img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table {
    color: darkslategray;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    background-color: grey;
    width: 500px;
    height: 500px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    border: black;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: auto;
    margin: auto;
    padding: 10px;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid darkgrey;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: teal;
}


/* test media queries */